<div class="panel panel-default text-left">
  <h1>※チーム内の完了した報告書</h1>
  <% if team.done_report_team.any? == false %>
    <strong>該当する報告書はありません</strong>
  <% else %>
    <table class="table table-modal panel-body">
      <thead class="thead-dark">
        <tr>
          <th>タイトル</th>
          <th>担当者</th>
        </tr>
      </thead>
      <% team.done_report_team.each do |report| %>
        <tr>
          <td><%= link_to "#{report.title}", report_path(report.id) %></td>
          <td><%= link_to "#{report.user.name}", user_path(report.user.id) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
