<div class="panel panel-default">
  <div class="panel-heading float_left">
    ※チーム内で作成中の報告書
  </div>
  <% if team.prepared_report.any? == true %>
    <table class="table panel-body">
      <thead class="thead-dark">
        <tr>
          <th>タイトル</th>
          <th>担当者</th>
          <th>ステップ</th>
          <th>提出〆切</th>
        </tr>
      </thead>

      <% team.prepared_report.each do |report| %>
        <tr>
          <td class="team-header"><%= link_to "#{report.title}", report_path(report.id) %></td>
          <td><%= link_to "#{report.user.name}", user_path(report.user.id) %></td>
          <td><%= report.step %></td>
          <% if report.confirmed_date.nil? %>
            <td><%= report.due.strftime("%Y年 %m月 %d日") %></td>
          <% else %>
            <td>未定</td>
          <% end %>
        </tr>
        <% end %>
      </table>
    <% else %>
      <strong>該当する報告書はありません</strong>
    <% end %>
  </div>
