<%= form_with(model: [report, comment], remote: true) do |f| %>
<div>
  <%= f.text_area :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
</div><br>
<div class="actions">
  <%= f.submit "コメント変更", id: "comments__edit-submit" %>
</div>
<% end %>
