html, body {
  background: #dcdcdc;
  margin: 0;
  padding: 0;
  height: 100%
}

/* .box-sizing {
  font-size: 20px;
  color: white;
  width: 100%;
  padding: 5px;
  background-color: #33B1A9;
  padding: .5rem 1rem;
  font-size: 20rem;
} */

.wrapper {
  position: relative;
}

main {
  padding-bottom: auto;
}

footer {
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #6bb;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -5rem;
}

aside#sidebar {
  float: left;
  width: 230px;
  background-color: #e8ffff;
  padding: 5px;
  font-size: 86%;
  width: 120%;
  height: auto;
}

aside#sidebar h1 {
  color: #080;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
}

aside#sidebar h2 {
  color: #080;
  font-weight: bold;
  border-bottom: 1px dotted #080;
  margin-bottom: 0.5em;
  font-size: 120%;
  margin-left: 0.5rem;
}

aside#sidebar h3 {
  color: #080;
  font-weight: bold;
  font-size: 100%;
  margin-left: 0.5rem;
}

aside#sidebar ul {
  padding-left: 1em;
  list-style-type: none;
  margin-left: 0.5rem;
}

aside#sidebar li {
  margin-bottom: 0.3em;
}

.container-fluid {
  height: 100%;
  position: absolute;
  top: 74px;
}

.side-menu h5 {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  max-width: 20rem;
}

.side-menu p {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.sidebar-height {
  height: 100vh;
}

.side-title {
  background: #33B1A9;
  height: 70px;
  color: #ffffff;
  font-size: 16px;
}

.side-title a {
  color: #ffffff;
}

.side-nav ul li {
  display: table;
}
.side-nav ul li a {
  display: table-cell;
  vertical-align: middle;
  height:　100%;
  color: #F4F4F4;
}

.navbar-nav li a:hover {
  background-color: #757575;
}

.navbar-nav li.selected {
  background-color: #757575;
}

.navbar-nav li {
  height: 50px;
}

.report-index {
  margin-top: 1rem;
  color: #6c757d;
}

.member_invite {
  color: #ffff;
}

.member_invite_input p {
  color: #fff;
  width: auto;
}
