html, body {
  background: #dcdcdc;
  margin: 0;
    padding: 0;
    height: 100%
}

.wrapper {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: auto;
}

footer {
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #6bb;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -5rem;
}

aside#sidebar {
  float: left;
  width: 230px;
  background-color: #e8ffff;
  padding: 5px;
  font-size: 86%;
  width: 120%;
  height: auto;
}

aside#sidebar h1 {
  color: #080;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
}

aside#sidebar h2 {
  color: #080;
  font-weight: bold;
  border-bottom: 1px dotted #080;
  margin-bottom: 0.5em;
  font-size: 120%;
  margin-left: 0.5rem;
}

aside#sidebar h3 {
  color: #080;
  font-weight: bold;
  font-size: 100%;
  margin-left: 0.5rem;
}

aside#sidebar ul {
  padding-left: 1em;
  list-style-type: none;
  margin-left: 0.5rem;
}

aside#sidebar li {
  margin-bottom: 0.3em;
}
