// * {
//   outline: 1px solid #ff0000;
// }

.float_right {
  float: right;
}

.none_function {
  pointer-events: none;
}

.float_right_2 {
  float: right;
  padding-right:　23rem;
}

.float_right_3 {
  float: right;
  padding-right:　25rem;
}

.clear {
  clear:　both;
}
