// * {
//   outline: 1px solid #ff0000;
// }

/* 必須マーク */
.must {
	background: #FF1A00;
}

/* 任意マーク */
.free {
	background: #999;
}

.must,
.free {
	color: #FFF;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 10px;
	letter-spacing: 0.2em;
}

.report {
  position: relative;
}

.report:hover .balloon {
  display: inline;
}

.balloon {
  position: absolute;
  display: none;
  padding: 2px;
  background-color: rgba(255, 0, 0, 0.50);
  width: 460px;
  left: 10%;
  top: 50%;
  font-size: 80%;
}

.balloon:after{
  border-left: 12px solid rgba(255, 0, 0, 0.50);
  right: -12px;
  top: 5%;
  content: "";
  position: absolute;
}

li {
  list-style: none;
}


.float_right {
  float: right;
}

.float_left {
  float: left;
}

.none_function {
  pointer-events: none;
}

.float_right_2 {
  float: right;
  padding-right:　23rem;
}

.float_right_3 {
  float: right;
  padding-right:　25rem;
}

.clear {
  clear:　both;
}

.bookmark {
  background-image: image-url("parts1");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.bookmarked {
  background-image: image-url("parts2");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.delete-image {
  background-image: image-url("parts3");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  float: left;
  margin: 5px 0 0 10px;
  background-size: 11px !important;
}

.post-time {
   margin: 0; color:#999;
   font-size: 10px;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.comment-padding-top {
  padding-top: 1rem;
}

.report_content {
  padding: 0.5em 1em;
  font-weight: bold;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.report_content p {
  margin: 0;
  padding: 0;
}

.text {
　line-height: 24px;
}

.readmore-btn {
　text-align: right;
　display: none;
}

.readmore{
  position: relative;
  box-sizing: border-box;
  padding: 0.1em 0.5em;
  font-weight: bold;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 400
}

.readmore-content{
  position: relative;
  overflow: hidden;
  /*以下お好み*/
  /*高さの初期値*/
  height: 100px;
}

.readmore-content p {
  margin: 0;
  padding: 0;
}

.readmore-content::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  /*以下お好み グラデーションの色と高さ 高さはreadmoreのheight以下にすること*/
  height: 50px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.8) 50%, #fff 100%);
}

/* 続きを読むボタン */
.readmore-label{
  display: table;
  bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 0 auto;
  z-index: 2;
  padding: 0 10px;
  background-color: #FFF;
  border-radius: 10px;
  color: #00F;
}
.readmore-label:before{
  content: '続きを読む';
}

.readmore-check{
  display: none;
}

.readmore-check:checked ~ .readmore-label{
  position: static;
  transform: translateX(0);
  -webkit-transform: translateX(0);

}
.readmore-check:checked ~ .readmore-label:before{
  content: '閉じる';
}

.readmore-check:checked ~ .readmore-content{
  height: auto;
}

.readmore-check:checked ~ .readmore-content::before {
  display: none;
}

.report-header {
  max-width: 10rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
