.team {
  position:relative
}

.team_date {
  padding-left: 20px;
}

.team-wrap {
  padding-top: 20px;
}

.nav-tab-report {
  position: absolute;
  top: 0rem;
  left: 1rem;
}

.delete-team-icon {
  background-image: image-url("parts4");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
  position: absolute;
  top: 0.5rem;
  left: 9.5rem;
}

.edit-team-icon {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
  position: absolute;
  top: 0.5rem;
  left: 7.5rem;
}

.new-report {
  position: absolute;
  top: 0rem;
  left: 12rem;
}

.rectangle-img {
  width: auto;
  height: 8rem;
  object-fit: cover;
}

.o-3column .col-md-3 {
  padding: 10px 1px;
}
