// * {
//   outline: 1px solid #ff0000;
// }

.round-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.float_right {
  float: right;
}

.clear {
  clear:　both;
}

.profile-wrap {
  padding-top: 20px;
}

.profile_date {
  padding-left: 50px;
}
