// * {
//   outline: 1px solid #ff0000;
// }

.border-bottom {
  border-bottom: 1px solid #000 !important;
}

.table td, .table th {
    border-top: 1px solid #CCCCCC !important;
}

.user-show-round-img {
  border-radius: 50%;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.user-index-round-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.float_right {
  float: right;
}

.clear {
  clear:　both;
}

.profile-wrap {
  padding-top: 20px;
  position:relative
}

.profile {
  position:relative
}

.profile_date {
  padding-left: 50px;
}

.profile_image {
  position: absolute;
  top: 0rem;
  left: 25rem;
}

.delete-user-icon {
  background-image: image-url("parts4");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
}

.edit-user-icon {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
}

.delete-show-icon {
  position: absolute;
  top: 0.5rem;
  left: 13rem;
}

.edit-show-icon {
  position: absolute;
  top: 0.5rem;
  left: 11rem;
}

.table-profile {
  position: relative;
}

.index_row_icon {
  width: 560px;
  margin-top: 10px;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nav-tab-report {
  position: absolute;
  top: 0rem;
  left: 1rem;
  width: 200%
}

.image-field {
  position: absolute;
  top: 0rem;
  left: 25rem;
}

.nav-link.active {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

.nav-tabs {
  border-bottom: 1px solid #CCCCCC !important;
}

.user-header {
  max-width: 8rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  text-align: center;
  background: rgba(0,0,0,0.65)!important;
  padding: 30px;
}

.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,-1.35)!important;
  z-index: 2;
}

.modal-open,
.modal-close {
  cursor: pointer;
}
